[submodule "client"]
	path = client
	url = https://github.com/YounesBoulkaddid/clientHivee
[submodule "api"]
	path = api
	url = https://github.com/YounesBoulkaddid/apiHivee
[submodule "blog"]
	path = blog
	url = https://github.com/YounesBoulkaddid/blogHivee
[submodule "admin"]
	path = admin
	url = https://github.com/YounesBoulkaddid/adminHivee.git
