<md-card class="demo-card demo-basic">
  <md-toolbar color="primary">Login</md-toolbar>
  <md-card-content>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

      <table>
        <tr>
          <td> <md-input #emailInput type="text" [(ngModel)]="model.email"  name="email" id="email" required>
            <md-placeholder>
              <i class="material-icons app-input-icon">person</i>  Email</md-placeholder>
          </md-input></td>
          <td><md-input type="text" [(ngModel)]="model.password" name="password" placeholder="Password" id="password"></md-input></td>
        </tr>
      </table>
      <md-card-actions layout="row" layout-align="end center">
        <span class="app-toolbar-filler"></span>

        <button class="md-primary" type="submit" [disabled]="!loginForm.form.valid" md-fab>
          <md-icon class="md-24">send</md-icon>
        </button>
      </md-card-actions>
    </form>
  </md-card-content>
</md-card>
